
    /* Estilos básicos para la página 
    body {
      font-family: Georgia, serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    #logo{
        width: 95px;
        height: 95px;
        float: left;
    }
    header {
      background-color: #ff5a44;
      color: white;
      padding: 10px;
      height: 95px;

    }
    h2,h3{
        font-family: Arial, Helvetica, sans-serif;
    }
    span a {
      float:right ;
      color: white;
      margin-top: 5%;
      padding: 15px;
      text-decoration: none;

    }
    span a:hover{
        border-radius: 3px;
        background-color: #1a1b73;
    }
    section {
      padding: 20px;
      text-align: center;
    }
    .destinos, .servicios {
      display: flex;
      justify-content: center;
      gap: 100px; /* para el espacio entre los bloques de destino y de servicios
      flex-wrap: wrap; /* para que los elementos dentro de destinos y servicios se mantengan alineados
    }
    #bienvenida{
        padding-top: 15px;
        margin: auto;
        font-family:Georgia, serif;
        width: 60%;
    }
    #bienvenida>p{ /*para el texto de la parte de bienvenida
        display: block;
        border-radius: 5px;
        box-shadow: 0 2px 5px #1a1b73;
        padding: 10px;
        text-align: center;
    }
    #portada{ /* estilo para la imagen del avion de la portada*//*
        width: 400px;
        height: 300px;
        margin-top: 10px;
        margin: auto;
        display: block;
        border-radius: 10px;
    }
    .destino, .servicio {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 5px #1a1b73;
      width: 250px;
      height: auto;
      padding: 15px;
      text-align: center;
    }
    .destino, img{
        width: 300px;
        height: 200px;
        border-radius: 5px;
    }
    .contacto , input, textarea{
        border: 2px;
        border-radius: 8px;
        height: 30px;
        width: 200px;
    }
    textarea{
        height: 60px; /* le damos mas altura al text area
        font-family: Arial, Helvetica, sans-serif;
    }
    .contacto,input:focus,textarea:focus{
        border: 3px solid #ff5a44; /* :Focus para cuando seleccionamos ese campo y queremos escribir sobre él
    }
    .contacto,input:hover,textarea:hover{
        border: 3px solid #ff5a44; /* :Focus para cuando seleccionamos ese campo y queremos escribir sobre él
    }
    footer {
      background-color: #ff5a44;
      color: white;
      text-align: center;
      padding: 10px 0;
      width: 100%;
      bottom: 0;
    }