body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* Header y Logo */
header {
    background-color: #ff5a44;
    color: white;
    width: 100%;
    height: 90px;
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
}
/* Tipografías */
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1a1b73; /* He añadido el color corporativo a los títulos */
    text-align: center;
}
/* Menú de navegación */
#titulo {
    margin:auto;
    text-align: center;
}
#titulo h2 {
    color: white;
    padding: 8px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#mensaje{
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
/* Secciones Generales */
section {
    padding: 20px;
    text-align: center;
}
.contenedor-flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
}
#productos{
    margin-top: 50px;
}
/* Tarjetas (usado en destinos y servicios) */
.tarjeta {
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #1a1b73;
    width: 300px;
    padding: 15px;
    text-align: center;
    display:inline-block;
    margin-bottom: 8px;
}

.tarjeta img {
    width: 100%; /* Ajuste para que la imagen ocupe el ancho de la tarjeta */
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
/* Elementos específicos del Index */

#carrito{
    text-align: center;
}
/* Formulario */

button {
    background-color: #1a1b73;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #ff5a44;
}
/* Footer */
footer {
    background-color: #ff5a44;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    width: 100%;
}